/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  
  body {
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .menu {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .menu > a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    font-size: 18px;
    margin: 0 15px;
    padding: 10px 20px;
    border-radius: 25px;
    transition: all 0.3s ease;
  }
  
  .menu > a:hover,
  .menu > a.active {
    background-color: #4a90e2;
    color: #ffffff;
  }
  
  .container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 600px;
  }
  
  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  input[type="file"] {
    display: none;
  }
  
  .label-file {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
  }
  
  .label-file:hover {
    background-color: #0056b3;
  }
  
  input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  .card {
    display: none;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card.show {
    display: block;
  }
  
  #matchingImages {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  #matchingImages img {
    max-width: 100px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .successCard {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background: #53d25734;
    border-radius: 10px;
    border: 2px solid #ffffff;
    z-index: 1000;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    text-align: center;
    transition: all .5s ease-in-out;
    opacity: 0;
  }
  .card-2{
    background: #d2535334;
  }
  
  .successCard.showCard {
    opacity: 1;
    top: 20%;
  }  

  #loadingBarContainer {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 20px;
    display: none;
  }
  
  #loadingBar {
    width: 0;
    height: 4px;
    background-color: #007BFF;
  }